@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");
.header {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  z-index: 5;
}
@media (max-width: 600px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }
}
.header__nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  width: 60px;
  height: 60px;
}
.header__list {
  display: flex;
  gap: 20px;
}
@media (max-width: 600px) {
  .header__list {
    display: none;
  }
}
.header__social {
  display: flex;
  gap: 15px;
}
@media (max-width: 600px) {
  .header__social {
    display: none;
  }
}
.header__list-burger {
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 600px) {
  .header__list-burger.active {
    display: grid;
    place-content: center;
    gap: 15px;
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
    z-index: 1000;
  }
}
.header__burger {
  display: none;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url(../img/burger2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .header__burger {
    display: block;
  }
}
.header__link {
  position: relative;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: all 0.1s ease-in-out;
  color: #000000;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0%;
  background-color: #000000;
  transition: all 0.1s ease-in-out;
}
.header__link.active {
  opacity: 1;
}
.header__link:hover {
  opacity: 0.8;
}
.header__link:hover::before {
  width: 90%;
  left: 5%;
}
.header__link:active {
  opacity: 0.6;
}

.introheader {
  position: relative;
  width: 100%;
}
.introheader__wrapper {
  width: 100%;
  padding: 200px 0;
  background-color: #000000;
  color: #ffffff;
  display: grid;
  place-content: center;
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer__top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #f4f4f4;
  padding: 120px 0;
}
@media (max-width: 1750px) {
  .footer__top {
    padding: 120px 20px;
  }
}
.footer__bottom {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.content__h {
  max-width: 840px;
}
.content__text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1140px;
  padding: 60px 150px;
  margin-top: 80px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  color: #d7d7d7;
}
@media (max-width: 1140px) {
  .content__text {
    padding: 60px 100px;
  }
}
@media (max-width: 768px) {
  .content__text {
    padding: 60px 0px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.projects {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(24, 24, 24);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  text-align: center;
}

a {
  display: block;
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
}

picture {
  display: block;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
}
@media (max-width: 1699px) {
  .container {
    padding: 0 15px;
  }
}

.logo-pic {
  position: relative;
  width: 60px;
  height: 60px;
  transition: opacity 0.1s ease-in-out;
}
.logo-pic:hover {
  opacity: 0.8;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.h_big {
  position: relative;
  font-size: 64px;
  line-height: 125%;
  font-weight: 400;
}
@media (max-width: 600px) {
  .h_big {
    font-size: 48px;
  }
}

.h_mid {
  position: relative;
  font-size: 36px;
  line-height: 140%;
  font-weight: 400;
}
@media (max-width: 600px) {
  .h_mid {
    font-size: 24px;
  }
}

.h_sml {
  position: relative;
  font-size: 20px;
  line-height: 175%;
}
@media (max-width: 600px) {
  .h_sml {
    font-size: 18px;
  }
}

.p_big {
  font-size: 20px;
  line-height: 175%;
  font-weight: 400;
}
@media (max-width: 600px) {
  .p_big {
    font-size: 16px;
  }
}

.p_sml {
  font-size: 16px;
  line-height: 210%;
  font-weight: 400;
}
@media (max-width: 600px) {
  .p_sml {
    font-size: 12px;
  }
}

.btn {
  position: relative;
  background-color: #000000;
  color: #ffffff;
  padding: 15px 25px;
  transition: background-color 0.1s ease-in-out;
}
.btn:hover {
  background-color: #454545;
}

.section {
  position: relative;
  width: 100%;
}

.social__list {
  display: flex;
  gap: 20px;
}

.clr-white {
  color: #ffffff;
}

.clr-black {
  color: #000000;
}

.grid-3fr {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1140px;
  padding-top: 40px;
}
@media (max-width: 867px) {
  .grid-3fr {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .grid-3fr {
    grid-template-columns: repeat(1, 1fr);
  }
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  text-align: start;
  padding: 15px;
  box-shadow: 0 0 10px #d7d7d7;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.box:hover {
  box-shadow: 0 0 10px #000000;
}
@media (max-width: 425px) {
  .box {
    align-items: center;
    text-align: center;
  }
}
.box__pic {
  position: relative;
  width: 60px;
  height: 60px;
}
.section-black {
  position: relative;
  padding: 200px 0;
  background-color: #000000;
  display: grid;
  place-content: center;
}